{% extends "base.html" %}

{% block title %} Services {% endblock title%}

{% block body %} 

<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <h1 class="display-4 fw-normal">Magic Services</h1>
      <p class="lead fw-normal">Stylists mainly works on the functional aspect of design, creating forms and volumes that meet production needs. </p>
      
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
  </div>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-md-4 g-4">
        <div class="col">
          <div class="card shadow-sm">
            
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqvXsPbIEaViPs6ouf-Sk8sWONd-Ol9NOFnA&usqp=CAU" class="img-thumbnail" alt="...">
            <div class="card-body">
              <h1>Styling</h1>
              <p>Intresting? Click Here</p>
              <div class="d-flex justify-content-between align-items-center">
                <a href="/styling" class="btn btn-primary">Intresting? Click Here</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
              
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTbme0AmlJjLFgEuKFeOAm8GFxgPOpJ29U04Q&usqp=CAU" class="img-thumbnail" alt="...">
              <div class="card-body">
                <h1>Design</h1>
                <p>Intresting? Click Here</p>
                <div class="d-flex justify-content-between align-items-center">
                  <a  href="/design" class="btn btn-primary">Intresting? Click Here</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ7la8feLSwMTr71NEhbx7tZWM7DN3TvGs9qg&usqp=CAU" class="img-thumbnail" alt="...">
              <div class="card-body">
                <h1>Prototype</h1>
                <p>Intresting? Click Here</p>
                <div class="d-flex justify-content-between align-items-center">
                  <a  href="/prototype" class="btn btn-primary">Intresting? Click Here</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSDoiAGnb5vWsdvvQwQtUMT7E7iqEXivCasjw&usqp=CAU" class="img-thumbnail" alt="...">
              <div class="card-body">
                <h1>CAE</h1>
                <p>Intresting? Click Here</p>
                <div class="d-flex justify-content-between align-items-center">
                  <a  href="/cae" class="btn btn-primary">Intresting? Click Here</a>
                </div>
              </div>
            </div>
          </div>



























{% endblock body%} 